* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antiliased; /*Funcionara apenas em navegadores que forem webkit (Chrome, safari)*/
}
html {
  font-size: 62.5%;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2.7rem;
  color: #23232e;
}
body {
  width: 100vw;
  height: 100vh;
}
a {
  color: #ffff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.6rem;
}

a:hover {
  opacity: 0.7;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #23232e;
  height: 8vh;
  width: 100%;

  /* display: grid;
  height: 7vh;
  width: 100vw;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "a logo nav-list";
  background: #23232e; */
}
a.logo {
  padding: 10px;
  font-size: 2.4rem;
  text-transform: uppercase;
  /* grid-area: logo; */
  justify-self: center;
}

.nav-list {
  list-style: none;
  display: flex;
  cursor: pointer;
  align-items:center;
  align-content: center;
  /* grid-area: nav-list;
  justify-content: end; */
}

.nav-list li {
 padding: 10px;
  
}

/*index*/

.container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.list-campanha {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.list-campanha li {
  margin: auto;
}

.list-campanha img {
  padding: 1px;
  margin: 5px;
  background: #cacad3;
  border-radius: 7px;
  cursor: pointer;
  flex: 1 1 20px;
}

/*cadastro_doador1*/
form {
  width: 100vw;
  /* height: 80vh; */
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label {
  display: flex;
  flex-direction: column;
}

input {
  background: #23232e;
  width: 280px;
  height: 30px;
  padding: 0 8px;
  margin-top: 8px;
  border-radius: 7px;
  color: white;
}
.btn-enviar {
  padding: 5px;
  margin: 10px;
  width: 80px;
  height: 40px;
  border-color: white;
  background: #23232e;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

span#enviar {
  color: white;
}

::-webkit-input-placeholder {
  color: white;
  font-weight: bold;
}

/*cadastro_doador2*/
/* .label {
  margin-top: 1.5rem;
} */
.label span {
  font-size: 1.76rem;
}
.label select {
  background: #23232e;
  width: 280px;
  height: 35px;
  padding: 0 8px;
  margin-top: 8px;
  border-radius: 7px;
  color: white;
}
/*Login*/
.container-login {
  width: 100vw;
  background: url(imagens/background_login.svg) no-repeat center center;
}
#h1-login {
  color: white;
}

.form-login {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.div-login {
  background: #23232e;
  padding: 8px;
  border-color: #23232e;
  border-style: solid;
  border-radius: 7px;
  width: 280px;
}

/*Login_funcionario*/

label .facebook {
  margin-top: 16px;
  display: flex;
  align-items: center;
  background: #3b5998;
  padding: 8px;
  border-color: #23232e;
  border-style: solid;
  border-radius: 7px;
}

label .google {
  display: flex;
  align-items: center;
  color: #23232e;
  background: white;
  padding: 8px;
  border-color: #23232e;
  border-style: solid;
  border-radius: 7px;
}

#span1 {
  display: flex;
  flex: auto;
  justify-content: center;
}

#span2 {
  display: flex;
  flex: auto;
  justify-content: center;
}
input#user.validate {
  background: white;
  color: #23232e;
  width: auto;
}
input#senha_login.validate {
  background: white;
  color: #23232e;
  width: auto;
}

p {
  font-size: 1.6rem;
}
.btn-entrar {
  margin: 10px;
  width: 80px;
  height: 40px;
  border-color: white;
  background: white;
  color: #23232e;
  font-weight: bold;
  border-radius: 7px;
  display: flex;
  align-content: center;
  justify-content: center;
}

div.entrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tela_inicial */
.list-funcoes {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
}
li#li-funcoes {
  display: flex;
  margin: 6px;
  color: #23232e;
  width: 260px;
  height: 366px;
  border: 1px solid;
  border-color: #cbcbcb;
  border-radius: 7px;
  justify-content: center;
}
.li-img {
  border-radius: 7px;
  width: 262px;
}
h2 {
  color: #23232e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
span {
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}
#spanHome {
  color: #23232e;
}

.perfil-img {
  width: 200px;
  height: 200px;
}
label.pesquisar-familiar {
  margin: 0 0 25px;
}

/* @media queries */
@media (max-width: 768px) {
  
}

table {
  width: 50vw;
  border-collapse: collapse;
  text-align: center;
  
}
tr.primeira-linha{
  background-color: #23232e;
  color: white;
}
td {
  border: solid 1px #23232e;
  font-size: 2rem;
}
.familiar-cadastrado {
  border: solid 2px #23232e;
  background-color: #23232e;
  border-radius: 7px;
  width: 290px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  text-decoration: none;
}

.familiar-cadastrado:houver {
  opacity: 0.7;
}
.familiar-cadastrado p {
  margin: auto;
  font-size: 2rem;
  padding: 5px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
a.pesquisar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #23232e;
  background-color: #23232e;
  border-radius: 7px;
  width: 290px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  text-decoration: none;
  margin: 15px auto;
}

.pesquisar-item p{
  margin: auto;
  font-size: 2rem;
  padding: 5px;
  height: 25px;
}

label select#tipo-item {
  background: #23232e;
  width: 280px;
  height: 35px;
  padding: 8px;
  margin-top: 8px;
  border-radius: 7px;
  color: white;
}
label select#tamanho-item {
  background: #23232e;
  width: 280px;
  height: 35px;
  padding: 8px;
  margin-top: 8px;
  border-radius: 7px;
  color: white;
}

.entrada-saida {
 margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.entrada-saida input {
  width: 100px;
  margin: 5px;
}

.entrada-saida input#quantidade-entrada.validate {
  text-align: center;
  background-color: #C6FFCB;
  font-size: 2rem;
  font-weight: bold;
}
.entrada-saida input#quantidade-saida.validate {
  text-align: center;
  background-color: #FF8282;
  font-size: 2rem;
  font-weight: bold;
}

.mensagem {
  background: #ffe600;
  width: 40%;
  height: 5%;
  padding: 0 8px;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  border:solid 0.2rem #838383;
  border-top: solid 0.2rem #212121;
  border-left: solid 0.2rem #212121;
  color: #23232e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: bold;
}